
input(type="text", placeholder="image url...", value="www.backcountry.com/images/items/large/ARC/ARC1180/WHE.jpg", ng-model="imageUrl")
input(type="button", value="get", ng-click="clickFunction()")

