div.row
	div.span2.upperBodyDiv
		h4 Upper Body
		select(ng-model="upperCategory", style="width: 150px;")
			option(value="") -- Select Category --	
			option(ng-repeat="category in categories", value="{{category.name}}"){{category.name}}
		select(ng-model="upperBrand", style="width: 150px;")
			option(value="") -- Select Brand --	
			option(ng-repeat="brand in brandList", value="{{brand.name}}"){{brand.name}}
		select(ng-model="upperGender", style="width: 150px;")
			option(value="") -- Select Gender --	
			option(ng-repeat="gender in genders", value="{{gender.name}}"){{gender.name}}
		select(ng-model="upperColor", style="width: 150px;")
			option(value="") -- Select Color --	
			option(ng-repeat="color in colors", value="{{color.name}}"){{color.name}}
		select(ng-model="upperSize", style="width: 150px;")
			option(value="") -- Select Size --	
			option(ng-repeat="size in sizes", value="{{size.name}}"){{size.name}}
		button(ng-click="upperGo()") Load Closet
	div.span6
			div.carousel.slide#upperCarousel(style="height:400px;")
				ol.carousel-indicators
					li.active(data-target="#upperCarousel", data-slide-to="0")
					li(data-target="#upperCarousel", data-slide-to="1")
				div.carousel-inner
					div.item(ng-repeat="upperVariant in upperVariants", active="upperProduct.active")
						a(href="www.backcountry.com")
							img( ng-src="/api/image?url={{upperVariant.image}}", style="margin:auto;")
				a.carousel-control.left(href="#upperCarousel", data-slide="prev")&lsaquo;
				a.carousel-control.right(href="#upperCarousel", data-slide="next")&rsaquo;
	div.span4
			div.accordion#accordion2(style="background-color:#ffffff;")
				div.accordion-group
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseOne")
							span Details
					div.accordion-body.collapse.in#collapseOne(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							b {{product.title}}
							p   
							div(ng-bind-html-unsafe="product.description")
							p   
							div {{product.bulletPoints}}
							p   
							b Price - ${{variant.price}}
				div.accordion-group(style="background-color:#ffffff")
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseTwo")
							span Tech Specs 
					div.accordion-body.collapse#collapseTwo(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							table.table.table-striped.table-bordered
								tr(ng-repeat="feature in product.features")
									td(style="width:150px; font-size:12px;"): b {{feature.displayName}}
									td(style="font-size:12px;") {{feature.value}}
				div.accordion-group(style="background-color:#ffffff")
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseThree")
							span Community
					div.accordion-body.collapse#collapseThree(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							div(ng-repeat="review in community.reviews")
								fieldset
									legend(style="font-size:14px;font-weight:bold;") 
										img(src="http://content.backcountry.com/images/bcs/review/search/rating_{{review.rank}}.png")
										&nbsp;&nbsp;{{review.title}}
			
									p   
										span(style="font-weight:bold") {{review.user}}
										span &nbsp;- {{review.body}}
div.row
	div.span2.lowerBodyDiv
		h4 Lower Body
		select(name="lowCatsDropDown", ng-model="upperCategory", style="width: 150px;")
			option(value="") -- Select Category --	
			option(ng-repeat="category in categories", value="category.name") {{category.name}}
		select(name="lowBrandsDropDown", ng-model="supperBrand", style="width: 150px;")
			option(value="") -- Select Brand --	
			option(ng-repeat="brand in brands", value="{{brand.name}}") {{brand.name}}	
		select(name="lowGenderDropDown", style="width: 150px;")
			option(value="") -- Select Gender --	
			option(ng-repeat="gender in genders", value="gender.name") {{gender.name}}	
		select(name="lowColorDropDown", style="width: 150px;")
			option(value="") -- Select Color --	
			option(ng-repeat="color in colors", value="color.name") {{color.name}}
		select(name="lowSizeDropDown", style="width: 150px;")
			option(value="") -- Select Size --	
			option(ng-repeat="size in sizes", value="size.name") {{size.name}}
		button(ng-click="lowerGo()") Go
	div.span6
			div.carousel.slide#lowerCarousel(style="height:400px;")
				ol.carousel-indicators
					li.active(data-target="#lowerCarousel", data-slide-to="0")
					li(data-target="#lowerCarousel", data-slide-to="1")
				div.carousel-inner
					div.item(ng-repeat="lowerProduct in lowerProducts", active="lowerProduct.active")
						a(href="www.backcountry.com")
							img( ng-src="api/image?url={{lowerProduct.image}}", style="margin:auto;")
				a.carousel-control.left(href="#lowerCarousel", data-slide="prev")&lsaquo;
				a.carousel-control.right(href="#lowerCarousel", data-slide="next")&rsaquo;
	div.span4
			div.accordion#accordion2(style="background-color:#ffffff;")
				div.accordion-group
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseOne")
							span Details
					div.accordion-body.collapse.in#collapseOne(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							b {{product.title}}
							p   
							div(ng-bind-html-unsafe="product.description")
							p   
							div {{product.bulletPoints}}
							p   
							b Price - ${{variant.price}}
				div.accordion-group(style="background-color:#ffffff")
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseTwo")
							span Tech Specs 
					div.accordion-body.collapse#collapseTwo(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							table.table.table-striped.table-bordered
								tr(ng-repeat="feature in product.features")
									td(style="width:150px; font-size:12px;"): b {{feature.displayName}}
									td(style="font-size:12px;") {{feature.value}}
				div.accordion-group(style="background-color:#ffffff")
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseThree")
							span Community
					div.accordion-body.collapse#collapseThree(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							div(ng-repeat="review in community.reviews")
								fieldset
									legend(style="font-size:14px;font-weight:bold;") 
										img(src="http://content.backcountry.com/images/bcs/review/search/rating_{{review.rank}}.png")
										&nbsp;&nbsp;{{review.title}}
			
									p   
										span(style="font-weight:bold") {{review.user}}
										span &nbsp;- {{review.body}}
