div.row-fluid
	div.span3.upperBodyDiv
		h4 Upper Body
		form(name="upperSelects")
			select(ng-model="upperCategory", required)
				option(value="") -- Select Category --	
				option(ng-repeat="category in upperCategories", value="{{category.name}}"){{category.name}}
			select(ng-model="upperBrand")
				option(value="") -- Select Brand --	
				option(ng-repeat="brand in brands", value="{{brand.name}}"){{brand.name}}
			select(ng-model="upperGender")
				option(value="") -- Select Gender --	
				option(ng-repeat="gender in genders", value="{{gender.name}}"){{gender.name}}
			select(ng-model="upperColor")
				option(value="") -- Select Color --	
				option(ng-repeat="color in colors", value="{{color.name}}"){{color.name}}
			select(ng-model="upperSize")
				option(value="") -- Select Size --	
				option(ng-repeat="size in sizes", value="{{size.name}}"){{size.name}}
			br
			button.btn.btn-success(ng-click="upperGo()", style="width:220px;") Load Closet
	div.span6
			div.carousel.slide#upperCarousel(style="height:400px;")
				div.carousel-inner
					div.item(ng-repeat="upperVariant in upperVariants", active="upperProduct.active")
						a(href="www.backcountry.com")
							img( ng-src="/api/image?url={{upperVariant.image}}", style="margin:auto;")
							#img( ng-src="{{upperVariant.image}}", style="margin:auto;")
				a.carousel-control.left(href="#upperCarousel", data-slide="prev")&lsaquo;
				a.carousel-control.right(href="#upperCarousel", data-slide="next")&rsaquo;
	div.span3
			div.accordion#accordion2(style="background-color:#ffffff;")
				div.accordion-group
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseOne")
							span Details
					div.accordion-body.collapse.in#collapseOne(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							b {{upperProduct.title}}
							p   
							div(ng-bind-html-unsafe="upperProduct.description")
							p   
							div {{upperProduct.bulletPoints}}
							p   
							b Price - ${{upperVariant.price}}
				div.accordion-group(style="background-color:#ffffff")
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseTwo")
							span Tech Specs 
					div.accordion-body.collapse#collapseTwo(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							table.table.table-striped.table-bordered
								tr(ng-repeat="feature in upperProduct.features")
									td(style="width:150px; font-size:12px;"): b {{feature.displayName}}
									td(style="font-size:12px;") {{feature.value}}
				div.accordion-group(style="background-color:#ffffff")
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordion2", href="#collapseThree")
							span Community
					div.accordion-body.collapse#collapseThree(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							div(ng-repeat="review in upperCommunity.reviews")
								fieldset
									legend(style="font-size:14px;font-weight:bold;") 
										img(src="http://content.backcountry.com/images/bcs/review/search/rating_{{review.rank}}.png")
										&nbsp;&nbsp;{{review.title}}
			
									p   
										span(style="font-weight:bold") {{review.user}}
										span &nbsp;- {{review.body}}
div.row-fluid
	div.span3.lowerBodyDiv
		h4 Lower Body
		form(name="lowerSelects")
			select(name="lowCatsDropDown", ng-model="lowerCategory", required)
				option(value="") -- Select Category --	
				option(ng-repeat="category in lowerCategories", value="{{category.name}}") {{category.name}}
			label.lowerCatSelect(style="color:red", ng-show="lowerCatSelected") You must select a Category!
			select(name="lowBrandsDropDown", ng-model="lowerBrand")
				option(value="") -- Select Brand --	
				option(ng-repeat="brand in brands", value="{{brand.name}}") {{brand.name}}	
			select(name="lowGenderDropDown", ng-model="lowerGender")
				option(value="") -- Select Gender --	
				option(ng-repeat="gender in genders", value="{{gender.name}}") {{gender.name}}	
			select(name="lowColorDropDown", ng-model="lowerColor")
				option(value="") -- Select Color --	
				option(ng-repeat="color in colors", value="{{color.name}}") {{color.name}}
			select(name="lowSizeDropDown", ng-model="lowerSize")
				option(value="") -- Select Size --	
				option(ng-repeat="size in sizes", value="{{size.name}}") {{size.name}}
			br
			button.btn.btn-success(ng-click="lowerGo()", style="width:220px;") Load Closet 
	div.span6
			div.carousel.slide#lowerCarousel(style="height:400px;")
				div.carousel-inner
					div.item(ng-repeat="lowerVariant in lowerVariants")
						a(href="www.backcountry.com")
							img( ng-src="api/image?url={{lowerVariant.image}}", style="margin:auto;")
							#img( ng-src="{{lowerVariant.image}}", style="margin:auto;")
				a.carousel-control.left(href="#lowerCarousel", data-slide="prev")&lsaquo;
				a.carousel-control.right(href="#lowerCarousel", data-slide="next")&rsaquo;
	div.span3
			div.accordion#accordionLower(style="background-color:#ffffff;")
				div.accordion-group
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordionLower", href="#collapseLower1")
							span Details
					div.accordion-body.collapse.in#collapseLower1(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							b {{lowerProduct.title}}
							p   
							div(ng-bind-html-unsafe="lowerProduct.description")
							p   
							div {{lowerProduct.bulletPoints}}
							p   
							b Price - ${{variant.price}}
				div.accordion-group(style="background-color:#ffffff")
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordionLower", href="#collapseLower2")
							span Tech Specs 
					div.accordion-body.collapse#collapseLower2(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							table.table.table-striped.table-bordered
								tr(ng-repeat="feature in lowerProduct.features")
									td(style="width:150px; font-size:12px;"): b {{feature.displayName}}
									td(style="font-size:12px;") {{feature.value}}
				div.accordion-group(style="background-color:#ffffff")
					div.accordion-heading
						a.accordion-toggle(data-toggle="collapse", data-parent="#accordionLower", href="#collapseLower3")
							span Community
					div.accordion-body.collapse#collapseLower3(style="max-height:300px;overflow-y:auto;")
						div.accordion-inner
							div(ng-repeat="review in lowerCommunity.reviews")
								fieldset
									legend(style="font-size:14px;font-weight:bold;") 
										img(src="http://content.backcountry.com/images/bcs/review/search/rating_{{review.rank}}.png")
										&nbsp;&nbsp;{{review.title}}
			
									p   
										span(style="font-weight:bold") {{review.user}}
										span &nbsp;- {{review.body}}
