doctype 5
html(ng-app="outfitter")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://code.jquery.com/jquery-1.9.1.min.js')
		script(src='http://code.jquery.com/ui/1.10.0/jquery-ui.min.js')
		script(src='javascript/lib/bootstrap.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
		script(src='javascript/lib/angular-strap.min.js')
		script(src='javascript/app.js')
		script(src='javascript/controllers/home.js')
		script(src='javascript/controllers/chris.js')
		script(src='javascript/controllers/details.js')
		script
			$(function() {
				$("#addToCart").click(function() { alert('Go Swans!'); });
			});
	body(style="background-image: url('../images/Ski_slope.jpg');")
		div(style="text-align:center")
			h1= title
		img(src="http://www.backcountry.com/images/bcs/header/logo.png?1343144381", style="position:absolute; top:20px; left:20px")
		img#addToCart(src="images/add_outfit_cart.png", style="position:absolute; top:50px; right:50px")
		section(ng-view)

