doctype 5
html(ng-app="outfitter")
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://code.jquery.com/jquery-1.9.1.min.js')
		script(src='http://code.jquery.com/ui/1.10.0/jquery-ui.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js')
		script(src='javascript/lib/bootstrap.min.js')
		script(src='javascript/lib/angular-strap.min.js')
		script(src='javascript/lib/carousel.js')
		script(src='javascript/app.js')
	body
		h1= title
		div(ng-controller="CarouselDemoCtrl")
			carousel(interval="myInterval")
				slide(ng-repeat="slide in slides", active="slide.active")
					img(ng-src="{{slide.image}}", style="margin:auto;")
						.carousel-caption
						h4 = Slide {{$index}}
						p = {{slide.text}}
							.row-fluid
							.span6
								ul
									li
										button(class="btn btn-mini", ng-class="{'btn-info': !slide.active, 'btn-success': slide.active}", ng-disabled="slide.active", ng-click="slide.active = true") Select
										{{$index}}: {{slide.text}}
										a(class="btn", ng-click"addSlide()") Add Slide
							.span 6
								Interval, in milliseconds: input(type="number", ng-model="myInterval")
								br
								Enter a negative number to stop the interval.